@page "/profiles/coaches"

@using System.Net.Http
@using System.Text.Json
@using Microsoft.AspNetCore.Components

@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject APIService apiService
@inject HttpClient httpClient
@inject CookieService cookieService
@inject IJSRuntime jsRuntime


<PageTitle>Coaches Management | PALARO 2026</PageTitle>

<MudGrid Spacing="0">
    @if (_profileCoachesDetails != null && _profileCoachesDetails.Any())
    {
        <MudItem xs="12">
            <MudStack Row Spacing="0" Justify="Justify.FlexEnd">
                <MudButton Size="Size.Large" Style="text-transform: none" StartIcon="@Icons.Material.Filled.Add" OnClick="OpenAddCoachDialog">Add Coach</MudButton>
                <MudDivider Vertical="true" FlexItem="true" />
                <MudFileUpload T="IBrowserFile" 
                               OnFilesChanged="OnFileUpload" 
                               MaxFileSize="52428800"
                               Accept=".xlsx,.xls">
                    <ActivatorContent>
                        @if (uploading)
                        {
                            <div style="padding: 10px">
                                <MudStack Row>
                                    <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                                    <MudText Style="font-size: .9375rem">Uploading</MudText>
                                </MudStack>
                            </div>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Text" 
                                       Size="Size.Large" 
                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                       Disabled="uploading">
                                <MudText Style="font-size: .9375rem">Upload Excel File</MudText>
                            </MudButton>
                        }
                    </ActivatorContent>
                </MudFileUpload>
                <MudDivider Vertical="true" FlexItem="true" />
                <MudButton Size="Size.Large" Style="text-transform: none" StartIcon="@Icons.Material.Filled.Refresh" OnClick="GetCoachesAsync">Refresh Table</MudButton>
            </MudStack>
        </MudItem>
        <MudItem xs="12">
            <MudTable Outlined Items="_profileCoachesDetails" FixedHeader FixedFooter Height="calc(87vh - 150px)" Virtualize="true" Filter="FilterFunc" Elevation="0">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Coaches</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Immediate Placeholder="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium" />
                </ToolBarContent>
                <ColGroup>
                    <MudHidden Breakpoint="Breakpoint.Xs">
                        <col style="width: 20%" />
                        <col style="width: 10%" />
                        <col style="width: 15%" />
                        <col style="width: 5%" />
                        <col style="width: 15%" />
                        <col style="width: 20%" />
                        <col style="width: 10%" />
                        <col style="width: 5%" />
                    </MudHidden>
                </ColGroup>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => (x.FirstName, x.LastName))">
                            Name
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => (x.Designation))">
                            Designation
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => (x.Sports, x.SportGenderCategories, x.Level))">
                            Sport
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => x.Sex)">
                            Sex
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => x.BirthDate)">
                            Birth Date
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfileCoachesDetails, object?>(x => (x.School, x.SchoolDivision, x.Region, x.Abbreviation))">
                            School
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh Style="text-align: center">Image</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="coach">
                    <MudTd DataLabel="Firstname">
                        <MudText Typo="Typo.body2">@coach.FirstName @coach.MiddleInitial @coach.LastName</MudText>
                    </MudTd>
                    <MudTd DataLabel="Designation">
                        <MudText Typo="Typo.caption">@coach.Designation</MudText>                        
                    </MudTd>
                    <MudTd DataLabel="Sport">
                        <MudText Typo="Typo.body2">
                            @coach.Sports <br />
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @coach.Level - @coach.SportGenderCategories <br />
                                </MudText>
                            </MudElement>
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Sex">
                        <MudText Typo="Typo.caption">@coach.Sex</MudText>                        
                    </MudTd>
                    <MudTd DataLabel="Birth Date">
                        @if (coach.BirthDate.HasValue)
                        {
                            @coach.BirthDate.Value.ToString("MMMM dd, yyyy")
                        }
                        </MudTd>
                    <MudTd DataLabel="School">
                        <MudText Typo="Typo.body2">
                            @coach.School <br />
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @coach.SchoolDivision <br />
                                </MudText>
                            </MudElement>
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @coach.Region (@coach.Abbreviation)
                                </MudText>
                            </MudElement>
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Image" Style="text-align: center">
                        @if (!string.IsNullOrEmpty(coach.ImagePath))
                        {
                            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center" Spacing="0">
@*                                                                 <img style="width: 75px; height: 75px" src="@($"http://localhost/192.168.2.210/palaro2026/media/profile/coaches/{coach.ImagePath}?timestamp={DateTime.Now.Ticks}")" />
 *@                                <img style="width: 75px; height: 75px;" src="@($"https://palarongpambansa2026.com/attachments/media/profiles/coaches/{coach.ImagePath}?timestamp={DateTime.Now.Ticks}")" />
                                <MudFileUpload T="IBrowserFile"
                                               FilesChanged="file => HandleImageFileUpload(file, coach.ID)">
                                    <ActivatorContent>
                                        <MudButton Variant="Variant.Text" Size="Size.Small" Color="Color.Primary">Replace Image</MudButton>
                                    </ActivatorContent>
                                </MudFileUpload>
                                <MudButton Variant="Variant.Text" Size="Size.Small" Color="Color.Primary"
                                           Disabled="@string.IsNullOrWhiteSpace(coach.ID)"
                                           OnClick="@(() => PrintID(coach.ID))">
                                    Print ID
                                </MudButton>
                            </MudStack>
                        }
                        else
                        {
                            <MudFileUpload T="IBrowserFile"
                                           FilesChanged="file => HandleImageFileUpload(file, coach.ID)">
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.Upload"
                                                   Variant="Variant.Text"
                                                   Color="Color.Primary" />
                                </ActivatorContent>
                            </MudFileUpload>
                        }
                    </MudTd>
                    <MudTd Style="text-align: center">
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Class="pa-1" OnClick="() => OpenEditCoachDialog(coach.ID)" />
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText Typo="Typo.caption">No matching records found.</MudText>
                </NoRecordsContent>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new int[] { 20, 100 }" />
                </PagerContent>
            </MudTable>
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <MudProgressLinear Indeterminate="true" />
        </MudItem>
    }
</MudGrid>

@code {
    // Requirement for Dialog to work
    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }

    private bool uploading = false;

    // JSON storage
    private List<ProfilesDTO.ProfileCoachesDetails>? _profileCoachesDetails;


    // DTOs
    public class ProfilesDTO
    {
        public class ProfileCoachesDetails
        {
            public string? ID { get; set; }
            public string? FirstName { get; set; }
            public string? LastName { get; set; }
            public string? Region { get; set; }
            public string? Abbreviation { get; set; }
            public string? MiddleInitial { get; set; }
            public string? Sex { get; set; }
            public DateTime? BirthDate { get; set; }
            public string? Designation { get; set; }
            public string? Sports { get; set; }
            public int? GenderCategoryID { get; set; }
            public int? SchoolRegionID { get; set; }
            public int? SchoolDivisionID { get; set; }
            public int? SchoolID { get; set; }
            public string? Level { get; set; }
            public string? School { get; set; }
            public string? SportGenderCategories { get; set; }
            public string? SchoolDivision { get; set; }
            public string? UploadedBy { get; set; }
            public string? ImagePath { get; set; }
        }
    }


    // Methods
    private string _searchString = "";

    private bool FilterFunc(ProfilesDTO.ProfileCoachesDetails profileCoachesDetails)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        var searchableFields = new[] {
            profileCoachesDetails.FirstName,
            profileCoachesDetails.LastName,
            profileCoachesDetails.Region,
            profileCoachesDetails.Abbreviation
    };

        return searchableFields
            .Where(field => !string.IsNullOrWhiteSpace(field))
            .Any(field => field!.Contains(_searchString, StringComparison.OrdinalIgnoreCase));
    }



    // Dialogs
    private async Task OpenEditCoachDialog(string? selectedID)
    {
        var parameter = new DialogParameters<EditCoachDialog>
        {
            {x => x.selectedCoachID, selectedID}
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<EditCoachDialog>("Edit Coach", parameter, options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetCoachesAsync();
        }
    }

    private async Task OpenAddCoachDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<AddCoachDialog>("Add Coach", options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetCoachesAsync();
        }
    }


    // Initialization
    protected override async Task OnInitializedAsync()
    {
        await GetCoachesAsync();
    }

    // private async Task GetCoachesAsync()
    // {
    //     string url = "/Profiles/Coach/Details";

    //     // Get all coaches first
    //     var allCoaches = await apiService.GetAsync<ProfilesDTO.ProfileCoachesDetails>(url);

    //     // Get current user info to check role and region
    //     await GetCurrentUserInfoAsync();

    //     // Filter coaches if user has RoleID = 10 and affiliation
    //     if (_currentUser != null && _currentUser.RoleID == 10 && _userRegionId.HasValue)
    //     {
    //         _profileCoachesDetails = allCoaches?
    //             .Where(coach => coach.SchoolRegionID == _userRegionId)
    //             .ToList();
    //     }
    //     else
    //     {
    //         _profileCoachesDetails = allCoaches;
    //     }
    // }
    private async Task GetCoachesAsync()
    {
        string url = "/Profiles/Coach/Details";

        // Get all coaches first
        var allCoaches = await apiService.GetAsync<ProfilesDTO.ProfileCoachesDetails>(url);

        // Get current user info to check role and region
        await GetCurrentUserInfoAsync();

        // Filter coaches if user has RoleID = 10 and affiliation
        if (_currentUser != null && _currentUser.RoleID == 10 && !string.IsNullOrEmpty(_userRegionName))
        {
            _profileCoachesDetails = allCoaches?
                .Where(coach => coach.Region != null &&
                               coach.Region.Equals(_userRegionName, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
        else
        {
            _profileCoachesDetails = allCoaches;
        }
    }

    private async Task<string> GetCurrentUserIdAsync()
    {
        try
        {
            // Try to get user ID from cookie first
            var userId = await cookieService.GetCookie("userID");

            if (!string.IsNullOrEmpty(userId))
            {
                return userId;
            }

            // If no user ID in cookie, check for token
            var token = await cookieService.GetCookie("authenticationToken");
            if (string.IsNullOrEmpty(token))
            {
                Snackbar.Add("User not authenticated. Please log in.", Severity.Error);
                return string.Empty;
            }

            Snackbar.Add("Unable to retrieve user ID. Please log in again.", Severity.Warning);
            return string.Empty;
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error getting user ID: {ex.Message}", Severity.Error);
            return string.Empty;
        }
    }
    
    private async Task OnFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file == null)
        {
            Snackbar.Add("No file selected.", Severity.Warning);
            return;
        }

        uploading = true;
        StateHasChanged();

        try
        {
         var currentUserId = await GetCurrentUserIdAsync();

            using var stream = file.OpenReadStream(maxAllowedSize: 50_000_000);

            var content = new MultipartFormDataContent
            {
                { new StreamContent(stream), "file", file.Name },
                { new StringContent(currentUserId), "uploadedByUserId" }
            };

            // ✅ Correct backend route
            string url = "/CoachImport/UploadCoaches";

            var result = await apiService.PostFormAsync<ImportResult>(url, content);

            if (result != null)
            {
                Snackbar.Add(
                    $"Imported: {result.ImportedCount}. " +
                    $"Skipped: {result.SkippedCount}. " +
                    $"Errors: {result.Errors?.Count ?? 0}",
                    result.Errors?.Count > 0 ? Severity.Warning : Severity.Success
                );

                if (result.Errors?.Count > 0)
                {
                    foreach (var err in result.Errors.Take(5)) 
                    {
                        Snackbar.Add(err, Severity.Error);
                    }
                }

                await GetCoachesAsync();
            }
            else
            {
                Snackbar.Add("Upload failed.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Upload failed: {ex.Message}", Severity.Error);
        }
        finally
        {
            uploading = false;
            StateHasChanged();
        }
    }

    //Image upload
    private async Task HandleImageFileUpload(IBrowserFile file, string? coachId)
    {
        if (string.IsNullOrEmpty(coachId))
        {
            Snackbar.Add("Invalid profile.", Severity.Error);
            return;
        }

        try
        {
            const int maxFileSize = 10 * 1024 * 1024;

            if (file.Size > maxFileSize)
            {
                Snackbar.Add("File size exceeds 10 MB.", Severity.Error);
                return;
            }

            var allowedExtensions = new[] { ".jpeg", ".jpg", ".png" };
            var fileExtension = Path.GetExtension(file.Name).ToLower();

            if (!allowedExtensions.Contains(fileExtension))
            {
                Snackbar.Add("Only JPG and PNG images are allowed.", Severity.Error);
                return;
            }

            using var stream = file.OpenReadStream(maxFileSize);
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);

            var fileBytes = memoryStream.ToArray();
            var content = new MultipartFormDataContent();
            content.Add(new ByteArrayContent(fileBytes), "attachmentFile", file.Name);

            var uploadUrl = $"/Profiles/Coach/UploadAttachment/{coachId}";
            var success = await apiService.PutFormAsync(uploadUrl, content);

            if (success)
            {
                Snackbar.Add("Image uploaded.", Severity.Success);
                await GetCoachesAsync(); // refresh photo
            }
            else
            {
                Snackbar.Add("Upload failed.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    //Filter coach

    private Users? _currentUser;
    private int? _userRegionId = null;

    // private async Task GetCurrentUserInfoAsync()
    // {
    //     try
    //     {
    //         var userId = await GetCurrentUserIdAsync();
    //         if (!string.IsNullOrEmpty(userId))
    //         {
    //             // Fetch user details including RoleID and Affiliation
    //             string userUrl = $"/Users/{userId}";
    //             _currentUser = await apiService.GetSingleAsync<Users>(userUrl);

    //             if (_currentUser != null && _currentUser.RoleID == 10 && !string.IsNullOrEmpty(_currentUser.Affiliation))
    //             {
    //                 _userRegionId = MapAffiliationToRegionId(_currentUser.Affiliation);
    //             }
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         Snackbar.Add($"Error getting user info: {ex.Message}", Severity.Error);
    //     }
    // }
    private string? _userRegionName = null;

    private async Task GetCurrentUserInfoAsync()
    {
        try
        {
            var userId = await GetCurrentUserIdAsync();
            if (!string.IsNullOrEmpty(userId))
            {
                // Fetch user details including RoleID and Affiliation
                string userUrl = $"/Users/{userId}";
                _currentUser = await apiService.GetSingleAsync<Users>(userUrl);

                if (_currentUser != null && _currentUser.RoleID == 10 && !string.IsNullOrEmpty(_currentUser.Affiliation))
                {
                    // Simply remove "DepEd " from the affiliation to get the region name
                    _userRegionName = _currentUser.Affiliation.Replace("DepEd ", "");
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error getting user info: {ex.Message}", Severity.Error);
        }
    }

    private int? MapAffiliationToRegionId(string affiliation)
    {
        return affiliation switch
        {
            "DepEd National Capital Region" => 1,
            "DepEd Bangsamoro" => 2,
            "DepEd Cordillera Administrative Region" => 3,
            "DepEd National Academy of Sports" => 4,
            "DepEd Philippine Schools Overseas" => 5,
            "DepEd Ilocos Region" => 6,
            "DepEd Cagayan Valley" => 7,
            "DepEd Central Luzon" => 8,
            "DepEd CALABARZON" => 9,
            "DepEd MIMAROPA" => 10,
            "DepEd Zamboanga Peninsula" => 11,
            "DepEd Bicol Region" => 12,
            "DepEd Western Visayas" => 13,
            "DepEd Central Visayas" => 14,
            "DepEd Eastern Visayas" => 15,
            "DepEd Northern Mindanao" => 16,
            "DepEd Davao Region" => 17,
            "DepEd SOCCSKSARGEN" => 18,
            "DepEd Caraga" => 19,
            "DepEd Negros Island Region" => 20,
            _ => null
        };
    }

    //PRINT ID

    private const string IDBaseUrl =
    "https://reports.pgas.ph/Report/Share/PALARO/Coach_ID";

    private void PrintID(string? coachId)
    {
        if (string.IsNullOrWhiteSpace(coachId))
        {
            Snackbar.Add("Coach ID is missing. Cannot print ID.", Severity.Warning);
            return;
        }

        var url = $"{IDBaseUrl}?CoachID={Uri.EscapeDataString(coachId)}";
        _ = jsRuntime.InvokeVoidAsync("open", url, "_blank");
    }
    
    // DTO mirrored for the front-end result
    public class ImportResult
    {
        public int TotalRows { get; set; }
        public int ImportedCount { get; set; }
        public int SkippedCount { get; set; }
        public List<string> Errors { get; set; } = new();
    }

    public class Users
    {
        public string ID { get; set; } = null!;
        public string? Affiliation { get; set; }
        public int? RoleID { get; set; }
    }
}
