@page "/profiles/players"

@using System.Net.Http
@using System.Text.Json
@using Microsoft.AspNetCore.Components

@inject CookieService cookieService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject APIService apiService
@inject HttpClient httpClient

<PageTitle>Players Management | PALARO 2026</PageTitle>

<MudGrid Spacing="0">
    @if (_profilePlayers != null && _profilePlayers.Any())
    {
        <MudItem xs="12">
            <MudStack Row Spacing="0" AlignItems="AlignItems.Center" Justify="Justify.FlexEnd">
                <MudButton Size="Size.Large" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Add" OnClick="OpenAddPlayerDialog">Add Player</MudButton>
                <MudDivider Vertical="true" FlexItem="true" />
                <MudFileUpload T="IBrowserFile" 
                               OnFilesChanged="OnFileUpload" 
                               MaxFileSize="52428800"
                               Accept=".xlsx,.xls">
                    <ActivatorContent>
                            @if (uploading)
                            {
                                <div style="padding: 10px">
                                <MudStack Row>
                                    <MudProgressCircular Size="Size.Small" Indeterminate="true" />
                                    <MudText Style="font-size: .9375rem">Uploading</MudText>
                                </MudStack>
                                </div>
                            }
                            else
                            {
                                <MudButton Variant="Variant.Text" 
                                           Size="Size.Large" 
                                           StartIcon="@Icons.Material.Filled.CloudUpload"
                                           Disabled="uploading">
                                <MudText Style="font-size: .9375rem">Upload Excel File</MudText>
                                </MudButton>
                            }
                    </ActivatorContent>
                </MudFileUpload>
                <MudDivider Vertical="true" FlexItem="true" />
                <MudButton Size="Size.Large" Variant="Variant.Text" StartIcon="@Icons.Material.Filled.Refresh" OnClick="GetPlayersProfileAsync">Refresh Table</MudButton>
            </MudStack>
        </MudItem>
        <MudItem xs="12">
            <MudTable Outlined Items="_profilePlayers" FixedHeader FixedFooter Height="calc(87vh - 150px)" Virtualize="true" Filter="FilterFunc" Elevation="0">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Players</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="_searchString" Immediate Placeholder="Search"
                                  Adornment="Adornment.Start"
                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                  IconSize="Size.Medium" />
                </ToolBarContent>
                <ColGroup>
                    <MudHidden Breakpoint="Breakpoint.MdAndDown">
                        <col style="width: 15%" />
                        <col style="width: 5%" />
                        <col style="width: 10%" />
                        <col style="width: 10%" />
                        <col style="width: 15%" />
                        <col style="width: 10%" />
                        <col style="width: 20%" />
                        <col style="width: 10%" />
                        <col style="width: 5%" />
                    </MudHidden>
                </ColGroup>
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers, object?>(x => (x.FirstName, x.MiddleInitial, x.LastName))">
                            Player
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers, object?>(x => x.Sex)">
                            Sex
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers, object?>(x => x.BirthDate)">
                            Birth Date
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers, object?>(x => x.LRN)">
                            LRN
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortBy="new Func<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers, object?>(x => (x.Region, x.Abbreviation))">
                            School
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        Sport
                    </MudTh>
                    <MudTh>
                        Sport Event
                    </MudTh>
                    <MudTh Style="text-align: center">Image</MudTh>
                    <MudTh></MudTh>
                </HeaderContent>
                <RowTemplate Context="player">
                    <MudTd DataLabel="Player">
                        <MudText Typo="Typo.body2">
                            @player.FirstName @player.MiddleInitial @player.LastName
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Sex">
                        <MudText Typo="Typo.body2">
                            @if (player.Sex == "Female")
                            {
                                <text>F</text>
                            }
                            else if (player.Sex == "Male")
                            {
                                <text>M</text>
                            }
                            else
                            {
                                @player.Sex
                            }
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Birth Date">
                        <MudText Typo="Typo.body2">
                            @if (player.BirthDate.HasValue)
                            {
                                @player.BirthDate.Value.ToString("MMMM dd, yyyy")
                            }
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="LRN">
                        <MudText Typo="Typo.body2">
                            @player.LRN
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="School">
                        <MudText Typo="Typo.body2">
                            @player.School <br />
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @player.Division <br />
                                </MudText>
                            </MudElement>
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @player.Region (@player.Abbreviation)
                                    </MudText>
                            </MudElement>
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Sport">
                        <MudText Typo="Typo.body2">
                            @player.Sport <br />
                            <MudElement>
                                <MudText Typo="Typo.caption">
                                    @player.Level <br />
                                </MudText>
                            </MudElement>
                        </MudText>
                    </MudTd>
                    <MudTd DataLabel="Sport Event">
                        <MudGrid>
                            @if (player.ProfilePlayerSportsList?.Count() > 0)
                            {
                                <MudVirtualize Items="player.ProfilePlayerSportsList" Context="sport">
                                    <MudItem md="12">
                                        <MudPaper Outlined Class="pa-3" Style="background-color: transparent; height: 100%">
                                            @* Sport Event *@
                                            <MudStack Spacing="1" Style="height: 100%" Justify="Justify.SpaceBetween">
                                                <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Start">
                                                    @* Subcategory *@
                                                    <MudText Typo="Typo.body2">
                                                        @sport.Subcategory |
                                                        <MudElement>
                                                            @{
                                                            string gender;

                                                            if (sport.Gender == "Boys")
                                                            {
                                                                gender = "♂️";
                                                            }
                                                            else if (sport.Gender == "Girls")
                                                            {
                                                                gender = "♀️";
                                                            }
                                                            else
                                                            {
                                                                gender = "♂️♀️";
                                                            }
                                                        }
                                                        <MudText Typo="Typo.caption">
                                                            @gender
                                                        </MudText>
                                                    </MudElement>
                                                </MudText>
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Size="Size.Small" OnClick="() => OpenEditPlayerSportEventDialog(player.ID, player.SportID, player.SchoolLevelID, sport.ProfilePlayerSportID, player.RegionID)" />
                                            </MudStack>

                                            @* Coach *@
                                            <MudStack Spacing="1">

                                                <MudDivider />
                                                @if (sport.ProfilePlayerSportCoachesList?.Count > 1)
                                                {
                                                    <MudText Typo="Typo.caption">
                                                        Coaches:
                                                    </MudText>
                                                }
                                                else if (sport.ProfilePlayerSportCoachesList?.Count == 1)
                                                {
                                                    <MudText Typo="Typo.caption">
                                                        Coach:
                                                    </MudText>
                                                }

                                                <MudStack Row Spacing="0" Wrap="Wrap.Wrap">
                                                    <MudVirtualize Items="sport.ProfilePlayerSportCoachesList" Context="coach">
                                                        <MudChip T="string" Variant="Variant.Outlined" Size="Size.Small">
                                                            @coach.CoachFirstName @coach.CoachLastName
                                                        </MudChip>
                                                    </MudVirtualize>
                                                </MudStack>

                                            </MudStack>
                                        </MudStack>
                                    </MudPaper>
                                </MudItem>
                            </MudVirtualize>
                                <MudItem xs="12">
                                    <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" FullWidth Style="text-transform: none" OnClick="() => OpenAddPlayerSportEventDialog(player.ID, player.SportID, player.SchoolLevelID, player.RegionID)">Add sport event</MudButton>
                                </MudItem>
                            }
                            else
                            {
                                <MudItem xs="12">
                                    <MudButton StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" FullWidth Style="text-transform: none" OnClick="() => OpenAddPlayerSportEventDialog(player.ID, player.SportID, player.SchoolLevelID, player.RegionID)">Add sport event</MudButton>
                                </MudItem>
                            }
                        </MudGrid>
                    </MudTd>
                    <MudTd DataLabel="Image" Style="text-align: center">
                        @if (!string.IsNullOrEmpty(player.ImagePath))
                        {
                            <MudStack AlignItems="AlignItems.Center" Justify="Justify.Center">
@*                             <img style="width: 75px; height: 75px" src="@($"http://localhost/192.168.2.210/palaro2026/media/profile/players/{player.ImagePath}?timestamp={DateTime.Now.Ticks}")" />
 *@                                <img style="width: 75px; height: 75px" src="@($"https://palarongpambansa2026.com/attachments/media/profile/players/{player.ImagePath}?timestamp={DateTime.Now.Ticks}")" />

                            <MudFileUpload T="IBrowserFile"
                                               FilesChanged="file => HandleImageFileUpload(file, player.ID)">
                                <ActivatorContent>
                                    <MudButton Variant="Variant.Text" Size="Size.Small" Color="Color.Primary">Replace Image</MudButton>
                                </ActivatorContent>
                            </MudFileUpload>
                            </MudStack>
                        }
                        else
                        {
                            <MudFileUpload T="IBrowserFile"
                                           FilesChanged="file => HandleImageFileUpload(file, player.ID)">
                                <ActivatorContent>
                                    <MudIconButton Icon="@Icons.Material.Filled.Upload"
                                                   Variant="Variant.Text"
                                                   Color="Color.Primary" />
                                </ActivatorContent>
                            </MudFileUpload>
                        }
                    </MudTd>
                    <MudTd Style="text-align: center">
                        <MudIconButton Icon="@Icons.Material.Filled.Settings" Class="pa-1" OnClick="() => OpenEditPlayerDialog(player.ID)" />
                    </MudTd>
                </RowTemplate>
                <NoRecordsContent>
                    <MudText Typo="Typo.caption">No matching records found.</MudText>
                </NoRecordsContent>
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
            </MudTable>
        </MudItem>
    }
    else
    {
        <MudItem xs="12">
            <MudProgressLinear Indeterminate="true" />
        </MudItem>
    }
</MudGrid>

    @code {
    // Requirement for Dialog to work
    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }
    private bool uploading = false;


    // JSON storage
    private List<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers>? _profilePlayers;


    // Attachment
    private string? _updateEventAttachmentValue;
    private string? _eventAttachmentUploadState = "No file uploaded";
    private byte[]? _uploadedFileBytes;
    private string? _uploadedFileContentType;

    private string _eventAttachmentUrl = "";
    private bool _fileExists = false;

    // Allowed extensions to check
    private readonly string[] _extensions = { ".png", ".jpg", ".jpeg"};

    // DTOs
    public class ProfilesDTO
    {
        public class ProfilePlayersDetails
        {
            public class ProfilePlayers
            {
                public string? ID { get; set; }
                public string? FirstName { get; set; }
                public string? LastName { get; set; }
                public string? School { get; set; }
                public int? SchoolLevelID { get; set; }
                public string? Level { get; set; }
                public string? Division { get; set; }
                public int? RegionID { get; set; }
                public string? Region { get; set; }
                public string? Abbreviation { get; set; }
                public string? Category { get; set; }
                public int? SportID { get; set; }
                public string? Sport { get; set; }
                public string? MiddleInitial { get; set; }
                public string? Sex { get; set; }
                public DateTime? BirthDate { get; set; }
                public string? LRN { get; set; }
                public string? UploadedBy { get; set; }
                public string? ImagePath { get; set; }
                public List<ProfilePlayerSports>? ProfilePlayerSportsList { get; set; }
            }

            public class ProfilePlayerSports
            {
                public int ProfilePlayerSportID { get; set; }
                public string? Gender { get; set; }
                public string? Subcategory { get; set; }
                public List<ProfilePlayerSportCoaches>? ProfilePlayerSportCoachesList { get; set; }
            }

            public class ProfilePlayerSportCoaches
            {
                public string? CoachFirstName { get; set; }
                public string? CoachLastName { get; set; }
            }
        }

        public class ProfilePlayers
        {
            public int ID { get; set; }
            public string? FirstName { get; set; }
            public string? LastName { get; set; }
            public int? SchoolID { get; set; }
            public int? SportID { get; set; }
        }
    }

    public class SchoolsDTO
    {
        public class Schools
        {
            public int ID { get; set; }
            public string? School { get; set; }
            public int? SchoolDivisionID { get; set; }
            public int? SchoolLevelsID { get; set; }
        }

        public class SchoolRegions
        {
            public int ID { get; set; }
            public string? Region { get; set; }
            public string? Abbreviation { get; set; }
        }

        public class SchoolDivisions
        {
            public int ID { get; set; }
            public string? Division { get; set; }
            public int? SchoolRegionID { get; set; }
        }

        public class SchoolLevels
        {
            public int ID { get; set; }
            public string? Level { get; set; }
        }
    }

    public class SportsDTO
    {
        public class SportCategories
        {
            public int ID { get; set; }
            public string? Category { get; set; }
        }

        public class Sports
        {
            public int ID { get; set; }
            public string? Sport { get; set; }
            public string? Description { get; set; }
            public int? SportCategoryID { get; set; }
        }

        public class SportSubcategories
        {
            public int ID { get; set; }
            public string? Subcategory { get; set; }
            public int? SportID { get; set; }
            public int? SportGenderCategoryID { get; set; }
            public int? SchoolLevelID { get; set; }
        }
    }


    // Methods
    private string _searchString = "";

    private bool FilterFunc(ProfilesDTO.ProfilePlayersDetails.ProfilePlayers profilePlayers)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        bool matchesBasicInfo = new[] {
             profilePlayers.FirstName,
             profilePlayers.LastName,
             profilePlayers.Region,
             profilePlayers.Abbreviation,
             profilePlayers.Sport,
             profilePlayers.Category
    }
        .Where(field => !string.IsNullOrWhiteSpace(field))
        .Any(field => field!.Contains(_searchString, StringComparison.OrdinalIgnoreCase));

        bool matchesProfilePlayerSports = profilePlayers.ProfilePlayerSportsList?
            .Where(sport =>
                (sport.Gender?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (sport.Subcategory?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                (sport.ProfilePlayerSportCoachesList?.Any(coach =>
                    (coach.CoachFirstName?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false) ||
                    (coach.CoachLastName?.Contains(_searchString, StringComparison.OrdinalIgnoreCase) ?? false)) ?? false)
            )
            .Any() ?? false;

        return matchesBasicInfo || matchesProfilePlayerSports;
    }



    // Dialogs
    private async Task OpenAddPlayerDialog()
    {
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<AddPlayerDialog>("Add Player", options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetPlayersProfileAsync();
        }
    }

    private async Task OpenEditPlayerDialog(string? selectedID)
    {
        var parameter = new DialogParameters<EditPlayerDialog>
        {
            {x => x.selectedPlayerID, selectedID}
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<EditPlayerDialog>("Edit Player", parameter, options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetPlayersProfileAsync();
        }
    }

    private async Task OpenAddPlayerSportEventDialog(string? selectedID, int? selectedSportID, int? selectedSchoolLevelID, int? selectedRegionID)
    {
        var parameter = new DialogParameters<AddPlayerSportEventDialog>
        {
            {x => x.selectedPlayerID, selectedID},
            {x => x.selectedSportID, selectedSportID},
            {x => x.selectedSchoolLevelID, selectedSchoolLevelID},
            {x => x.selectedRegionID, selectedRegionID},
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<AddPlayerSportEventDialog>("Add Sport Event for Player", parameter, options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetPlayersProfileAsync();
        }
    }

    private async Task OpenEditPlayerSportEventDialog(string? selectedID, int? selectedSportID, int? selectedSchoolLevelID, int selectedPlayerSportID, int? selectedRegionID)
    {
        var parameter = new DialogParameters<EditPlayerSportEventDialog>
        {
            {x => x.selectedPlayerID, selectedID},
            {x => x.selectedSportID, selectedSportID},
            {x => x.selectedSchoolLevelID, selectedSchoolLevelID},
            {x => x.selectedPlayerSportsID, selectedPlayerSportID},
            {x => x.selectedRegionID, selectedRegionID},
        };
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true, BackdropClick = false };

        var dialog = await DialogService.ShowAsync<EditPlayerSportEventDialog>("Edit Sport Event for Player", parameter, options);

        var result = await dialog.Result;

        // Check if the dialog was closed with a positive result (e.g., "OK")
        if (!result!.Canceled)
        {
            await GetPlayersProfileAsync();
        }
    }

    // Initialization
    protected override async Task OnInitializedAsync()
    {
        await GetPlayersProfileAsync();
    }

    private async Task GetPlayersProfileAsync()
    {
        string url = "/Profiles/Player/Details";

        // Get all players first
        var allPlayers = await apiService.GetAsync<ProfilesDTO.ProfilePlayersDetails.ProfilePlayers>(url);

        // Get current user info to check role and region
        await GetCurrentUserInfoAsync();

        // Filter players if user has RoleID = 10 and affiliation
        if (_currentUser != null && _currentUser.RoleID == 10 && _userRegionId.HasValue)
        {
            _profilePlayers = allPlayers?
                .Where(player => player.RegionID == _userRegionId)
                .ToList();
        }
        else
        {
            _profilePlayers = allPlayers;
        }
    }

    private async Task<string> GetCurrentUserIdAsync()
    {
        try
        {
            // Try to get user ID from cookie first
            var userId = await cookieService.GetCookie("userID");

            if (!string.IsNullOrEmpty(userId))
            {
                return userId;
            }

            // If no user ID in cookie, check for token
            var token = await cookieService.GetCookie("authenticationToken");
            if (string.IsNullOrEmpty(token))
            {
                Snackbar.Add("User not authenticated. Please log in.", Severity.Error);
                return string.Empty;
            }

            Snackbar.Add("Unable to retrieve user ID. Please log in again.", Severity.Warning);
            return string.Empty;
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error getting user ID: {ex.Message}", Severity.Error);
            return string.Empty;
        }
    }
    
    private async Task OnFileUpload(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file == null)
        {
            Snackbar.Add("No file selected.", Severity.Warning);
            return;
        }

        uploading = true;
        StateHasChanged();

        try
        {
            var currentUserId = await GetCurrentUserIdAsync();

            using var stream = file.OpenReadStream(maxAllowedSize: 50_000_000);

            var content = new MultipartFormDataContent
            {
                { new StreamContent(stream), "file", file.Name },
                { new StringContent(currentUserId), "uploadedByUserId" }
            };

            // ✅ Correct backend route
            string url = "/PlayerImport/UploadPlayers";

            var result = await apiService.PostFormAsync<ImportResult>(url, content);

            if (result != null)
            {
                Snackbar.Add(
                    $"Imported: {result.ImportedCount}. " +
                    $"Skipped: {result.SkippedCount}. " +
                    $"Errors: {result.Errors?.Count ?? 0}",
                    result.Errors?.Count > 0 ? Severity.Warning : Severity.Success
                );

                if (result.Errors?.Count > 0)
                {
                    foreach (var err in result.Errors.Take(5)) 
                    {
                        Snackbar.Add(err, Severity.Error);
                    }
                }

                await GetPlayersProfileAsync();
            }
            else
            {
                Snackbar.Add("Upload failed.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Upload failed: {ex.Message}", Severity.Error);
        }
        finally
        {
            uploading = false;
            StateHasChanged();
        }
    }

    //Image upload

    private async Task HandleImageFileUpload(IBrowserFile file, string? playerId)
    {
        if (string.IsNullOrEmpty(playerId))
        {
            Snackbar.Add("Invalid player.", Severity.Error);
            return;
        }

        try
        {
            const int maxFileSize = 10 * 1024 * 1024;

            if (file.Size > maxFileSize)
            {
                Snackbar.Add("File size exceeds 10 MB.", Severity.Error);
                return;
            }

            var allowedExtensions = new[] { ".jpeg", ".jpg", ".png" };
            var fileExtension = Path.GetExtension(file.Name).ToLower();

            if (!allowedExtensions.Contains(fileExtension))
            {
                Snackbar.Add("Only JPG and PNG images are allowed.", Severity.Error);
                return;
            }

            using var stream = file.OpenReadStream(maxFileSize);
            using var memoryStream = new MemoryStream();
            await stream.CopyToAsync(memoryStream);

            var fileBytes = memoryStream.ToArray();
            var content = new MultipartFormDataContent();
            content.Add(new ByteArrayContent(fileBytes), "attachmentFile", file.Name);

            var uploadUrl = $"/Profiles/Player/UploadAttachment/{playerId}";
            var success = await apiService.PutFormAsync(uploadUrl, content);

            if (success)
            {
                Snackbar.Add("Image uploaded.", Severity.Success);
                await GetPlayersProfileAsync(); // refresh photo
            }
            else
            {
                Snackbar.Add("Upload failed.", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add(ex.Message, Severity.Error);
        }
    }

    //Filter player

    private Users? _currentUser;
    private int? _userRegionId = null;

    private async Task GetCurrentUserInfoAsync()
    {
        try
        {
            var userId = await GetCurrentUserIdAsync();
            if (!string.IsNullOrEmpty(userId))
            {
                // Fetch user details including RoleID and Affiliation
                string userUrl = $"/Users/{userId}";
                _currentUser = await apiService.GetSingleAsync<Users>(userUrl);

                if (_currentUser != null && _currentUser.RoleID == 10 && !string.IsNullOrEmpty(_currentUser.Affiliation))
                {
                    _userRegionId = MapAffiliationToRegionId(_currentUser.Affiliation);
                }
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"Error getting user info: {ex.Message}", Severity.Error);
        }
    }

    private int? MapAffiliationToRegionId(string affiliation)
    {
        return affiliation switch
        {
            "DepEd National Capital Region" => 1,
            "DepEd Bangsamoro" => 2,
            "DepEd Cordillera Administrative Region" => 3,
            "DepEd National Academy of Sports" => 4,
            "DepEd Philippine Schools Overseas" => 5,
            "DepEd Ilocos Region" => 6,
            "DepEd Cagayan Valley" => 7,
            "DepEd Central Luzon" => 8,
            "DepEd CALABARZON" => 9,
            "DepEd MIMAROPA" => 10,
            "DepEd Zamboanga Peninsula" => 11,
            "DepEd Bicol Region" => 12,
            "DepEd Western Visayas" => 13,
            "DepEd Central Visayas" => 14,
            "DepEd Eastern Visayas" => 15,
            "DepEd Northern Mindanao" => 16,
            "DepEd Davao Region" => 17,
            "DepEd SOCCSKSARGEN" => 18,
            "DepEd Caraga" => 19,
            "DepEd Negros Island Region" => 20,
            _ => null
        };
    }

    // DTO mirrored for the front-end result
    public class ImportResult
    {
        public int TotalRows { get; set; }
        public int ImportedCount { get; set; }
        public int SkippedCount { get; set; }
        public List<string> Errors { get; set; } = new();
    }

    public class Users
    {
        public string ID { get; set; } = null!;
        public string? Affiliation { get; set; }
        public int? RoleID { get; set; }
    }
}
