<MudGrid Class="pt-20">
    <MudItem xs="12" Style="background-color: black">
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudStack Class="py-20" Spacing="10">
                <MudStack Row>
                    <MudText Color="Color.Secondary">Follow us on </MudText>
                    <MudIcon Icon="@Icons.Custom.Brands.Facebook"Color="Color.Secondary"/>
                    <MudIcon Icon="@Icons.Custom.Brands.Instagram"Color="Color.Secondary"/>
                    <MudIcon Icon="@Icons.Custom.Brands.X"Color="Color.Secondary"/>
                    <MudIcon Icon="@Icons.Custom.Brands.YouTube"Color="Color.Secondary"/>
                    <MudIcon Icon="@Icons.Custom.Brands.TikTok"Color="Color.Secondary"/>
                </MudStack>
                <MudDivider />
                <MudStack Class="flex-md-row">
                    <MudStack Class="flex-md-row" Spacing="5">
                        <MudText Color="Color.Secondary">Cookie Policy</MudText>
                        <MudText Color="Color.Secondary">Privacy Policy</MudText>
                        <MudText Color="Color.Secondary">Terms of Service</MudText>
                    </MudStack>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp">
                        <MudDivider />
                    </MudHidden>
                    <MudSpacer />
                    <MudStack>
                        <MudText Color="Color.Secondary">Copyright 2024. All rights reserved</MudText>
                        <MudText Typo="Typo.caption">
                            Developed by the <a href="https://agusandelsur.gov.ph/" target="_blank"><span style="text-decoration: underline">Provincial Government of Agusan del Sur</span></a><br /> under the leadership of
                            <a href="https://agusandelsur.gov.ph/the-province-of-agusan-del-sur/government-officials/governor/" target="_blank"><span style="text-decoration: underline">Gov. Santiago B. Cane, Jr.</span></a>
                        </MudText>
                    </MudStack>
                </MudStack>
            </MudStack>
        </MudContainer>
    </MudItem>
</MudGrid>

@code {

}
